click==6.6
coverage==4.2
WTForms==2.1
Flask==0.11.1
Flask-Login==0.3.2
Flask-WTF==0.13
Flask-OAuth2-Login==0.0.9
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.6.2
SQLAlchemy==1.1.1
Werkzeug==0.11.11
validators=0.11.0
