{% macro render_page_link_item(current_page, number, content, is_disabled, context) %}
    {% if current_page == number %}
        {% set is_active = True %}
    {% else %}
        {% set is_active = False %}
    {% endif %}
    <li class="{{ 'disabled' if is_disabled else 'waves-effect' }} {{ 'active' if is_active }}">
        {% if not is_disabled %}
            <a href="{{ url_for('.dogs_list', page=page, **context) }}">
        {% endif %}
        {{ content|safe }}
        {% if not is_disabled %}
            </a>
        {% endif %}
    </li>
{% endmacro %}