{% from "_formhelpers.html" import render_field %}

<form class="z-depth-1" style="background: rgba(177, 220, 251, 0.36); padding: 15px;" method="GET" action="">
    {% for field in filter_form %}
        {% if field.short_name != "csrf_token" %}
            {% if field.short_name == "name" %}
                <div class="input-field">
                    {{ field }} {{ field.label(class_="active") }}
                </div>
            {% else %}
                <p>
                    {{ field }} {{ field.label }}
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
    <p><input type="submit" value="Find" class="btn waves-effect waves-light"></p>


</form>
