<form class="z-depth-1" style="background: rgba(177, 220, 251, 0.36); padding: 15px;" mathod="GET">
    <div class="input-field">
        <input value="Alvin" id="first_name2" type="text" class="validate" name="name">
        <label class="active" for="first_name2">Dog name</label>
    </div>
    <p>
        <input type="checkbox" id="is_adopted_checkbox" name="is_adopted"/>
        <label for="is_adopted_checkbox" style="color: black;">Is adopted</label>
    </p>

    {% for event_type in significant_event_types %}
        <p>
            <input type="checkbox" id="event_checkbox_{{ event_type.id }}" name="event_{{ event_type.id }}"/>
            <label for="event_checkbox_{{ event_type.id }}" style="color: black;">{{ event_type.type_name }}</label>
        </p>
    {% endfor %}
    <p>
        <label>Sex</label>
        <select class="browser-default" name="sex">
            <option value="" disabled selected>Choose sex of dog</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

    </p>
    <p>
        <input type="submit" value="Find" class="btn waves-effect waves-light">
    </p>
</form>