{% extends "base.html" %}

{% block title %} Dogs list {% endblock %}

{% block content %}
    <h1>Dogs list</h1>

    <div class="section"></div>

    <div class="row">
        <div class="col s8">
            <ul class="collection " style="margin: 0 0 20px 0;">
                {% for dog_with_event in dogs_with_events -%}
                    <li class="collection-item avatar" style="padding-left: 90px;">
                        <img src="{{ dog_with_event.dog.main_picture.uri if dog_with_event.dog.main_picture != None }}"
                             alt=""
                             style="width: 65px; height: 65px;" class="circle">
                        <a href="{{ url_for('dogs.page_about_dog', dog_id=dog_with_event.dog.id) }}"><span
                                class="title">{{ dog_with_event.dog.name }}</span></a>
                        <p>ID: {{ dog_with_event.dog.id }}</p>
                        <p>Sex: {{ dog_with_event.dog.sex }}</p>
                        <p> {{ dog_with_event.dog.description }} </p>
                        <p>
                            {% for significant_event in dog_with_event.events %}
                                <div class="chip">
                                    {{ significant_event.event_type.type_name }}
                                </div>
                            {% endfor %}
                        </p>
                    </li>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                {%- endfor %}
            </ul>
        </div>
        <div class="col s4 ">
            {% include "dogs/filters-block.html" %}
        </div>

    </div>

    <a href='add' class="btn-floating btn-large waves-effect waves-light red"
       style="    position: fixed; right: 20px;  bottom: 20px;}">
        <i class="material-icons">add</i></a>


    <br><br>

    <div class="section">

    </div>

{% endblock %}