{% extends "base.html" %}

{% block title %} Page for {{ dog.name }} {% endblock %}

{% block content %}


    <div class="section"></div>

    <div class="row  z-depth-1"
         style="padding: 20px;    background: white;     border-radius: 16px;    border: 2px solid gainsboro;">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    {% if dog.main_picture %}
                        <img src="{{ dog.main_picture.resolved_uri }}" width="100%"
                             height="auto" alt="a main picture of the dog" class="materialboxed"/>
                    {% else %}
                        <img width="100%"
                             height="auto" src="{{ url_for('static', filename='dogs/no.image.available.png') }}"
                             alt="unknown"/>
                    {% endif %}
                    {% for pic in dog.pictures %}
                        <img class="materialboxed"
                             data-caption="picture of a dog"
                             width="33%"
                             height="auto"
                             style="float:left; margin: 0.5em"
                             src="{{ pic.resolved_uri }}"/>
                    {% endfor %}
                </div>
                <div class="col s8">

                    <div class="col s8">
                        <label>Name</label>
                        <div style="   margin-top: 16px; margin-bottom: 15px;   border-bottom: 1px solid gainsboro;">{{ dog.name }}</div>

                    </div>
                    <div class="col s4">
                        <label>Date of add</label>
                        <div style="   margin-top: 16px; margin-bottom: 15px;   border-bottom: 1px solid gainsboro;">
                            10.11.12
                        </div>

                    </div>


                    <div class="row">
                        <div class="col s4">
                            <label>Age</label>
                            <div style="   margin-top: 16px;    border-bottom: 1px solid gainsboro;">10
                            </div>
                        </div>
                        <div class="col s4">
                            <label>Chip number</label>
                            <div style="   margin-top: 16px;    border-bottom: 1px solid gainsboro;">123123
                            </div>
                        </div>
                        <div class=" col s4">
                            <label>Sex</label><br>
                            <div style="    margin-top: 16px;    border-bottom: 1px solid gainsboro;">{{ dog.sex }}</div>
                        </div>
                    </div>
                    <div class="row">

                        <div class=" col s6">
                            <label>Location</label>
                            <div style="   margin-top: 16px;    border-bottom: 1px solid gainsboro;">{{ dog.location.name if dog and dog.location }}
                            </div>

                        </div>
                        <div class="col s6">
                            <label>Commentary</label>
                            <div style="   margin-top: 16px;    border-bottom: 1px solid gainsboro;">
                                {{ dog.description }}
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>
    <div class="row">
        <div class="col s6">
            {% if current_user.is_volunteer %}
                <a href="{{ url_for('events.new_financial_event') }}">new</a>
            {% endif %}
            <ul class="collection with-header z-depth-1">
                <li class="collection-header" style="text-align: center"><h5>Financial events</h5></li>
                {% for event in dog.financial_event_list %}
                    <li class="plus collection-item ">
                        <div>
                            <span style="    font-weight: bold; font-size: 17px;">+</span>
                            {{ event.expenditure.amount }} <span style="color: gray;"> |</span>
                            <span>Date: {{ event.datetime.date() if event }}</span>
                            <span style="color: gray;"> |</span>
                            {% if current_user.is_volunteer %}
                                <a href="{{ url_for('events.delete_financial_event', event_id=event.id) }}"
                                   class="secondary-content"><i class="material-icons">highlight_off</i></a>
                                {#todo: make this ajax "delete" request#}
                            {% endif %}
                            <p>comment:{{ event.expenditure.comment }}</p>
                            <p>event descr:{{ event.description }}</p>
                            {% if current_user.is_volunteer %}
                                <a href="{{ url_for('events.edit_financial_event', event_id=event.id) }}">edit</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center">
                <a class="waves-effect waves-light light-blue btn"><i class="material-icons left">loop</i>Load
                    more</a>
            </div>
        </div>
        <div class="col s6">
            {% if current_user.is_volunteer %}
                <a href="{{ url_for('events.new_event') }}">new</a>
            {% endif %}
            <ul class="collection with-header z-depth-1">
                <li class="collection-header" style="text-align: center"><h5>Events</h5></li>
                {% for event in dog.event_list %}
                    <li class="plus collection-item ">
                        <div>
                            <span>User: Petr Petrov</span>
                            <span style="color: gray;"> |</span>
                            <span>Date: {{ event.datetime.date() if event }}</span>
                            {% if current_user.is_volunteer %}
                                <a href="{{ url_for('events.delete_financial_event', event_id=event.id) }}"
                                   class="secondary-content"><i class="material-icons">highlight_off</i></a>
                                {#todo: make this ajax "delete" request#}
                            {% endif %}
                            <p>{{ event.description }}</p>
                            {% if current_user.is_volunteer %}
                                <a href="{{ url_for('events.edit_event', event_id=event.id) }}">edit</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center">
                <a class="waves-effect waves-light light-blue btn"><i class="material-icons left">loop</i>Load
                    more</a>
            </div>
        </div>
    </div>

{% endblock %}

