{% extends "base.html" %}

{% block title %} Page for {{ dog.name }} {% endblock %}

{% block content %}


    <div class="section"></div>
    {% if current_user.is_volunteer %}
        <div id="editblock" style="position:absolute;margin-left: -80px">
            <a href="{{ url_for('.edit', dog_id=dog.dog.id) }}"
               class="btn-floating btn-large waves-effect waves-light red"><i class="large material-icons">mode_edit</i></a>
        </div>
    {% endif %}
    <div class="row  z-depth-1"
         style="padding: 20px;    background: white;     border-radius: 16px;    border: 2px solid gainsboro;">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    {% if dog.dog.main_picture %}
                        <img src="{{ dog.dog.main_picture.resolved_uri }}" width="100%"
                             id="main_pic_{{ dog.dog.main_picture.id }}"
                             height="auto" alt="a main picture of the dog" class="materialboxed dog_pic"/>
                    {% else %}
                        <img width="100%" id="main_pic_unavailable"
                             height="auto" src="{{ url_for('static', filename='dogs/no.image.available.png') }}"
                             alt="unknown"/>
                    {% endif %}
                    {% for pic in dog.dog.pictures %}
                        <img class="materialboxed dog_pic"
                             data-caption="picture of a dog"
                             width="33%"
                             height="auto"
                             style="float:left; margin: 0.5em"
                             id="pic_{{ pic.id }}"
                             src="{{ pic.resolved_uri }}"/>
                    {% endfor %}
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="col s6">
                            <label>Name</label>
                            <div style="   margin-top: 16px; margin-bottom: 15px;   border-bottom: 1px solid gainsboro;">{{ dog.dog.name if dog.dog.name else 'Без имени' }}</div>
                        </div>
                        <div class=" col s3">
                            <label>Sex</label>
                            <div style="    margin-top: 16px;    border-bottom: 1px solid gainsboro;">{{ dog.dog.sex }}</div>
                        </div>
                        <div class=" col s3">
                            <label>Is adopted</label>
                            <div style="    margin-top: 16px;    border-bottom: 1px solid gainsboro;">
                                {% if dog.dog.is_adopted %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class=" col s4">
                            <label>Location</label>
                            <div style="   margin-top: 16px;    border-bottom: 1px solid gainsboro;">{{ dog.dog.location.name if dog.dog and dog.dog.location }}
                            </div>
                        </div>
                        <div class="col s8">
                            <label>Commentary</label>
                            <div style="   margin-top: 16px;    border-bottom: 1px solid gainsboro;">
                                {{ dog.dog.description }}
                            </div>
                        </div>


                    </div>

                </div>
            </div>


        </div>


    </div>
    <div class="col s12 z-depth-1 white" style="padding: 10px;">
        <h5 class="center">Events</h5>
        {% if current_user.is_volunteer %}
            <a href="{{ url_for('events.add_for_dog', dog_id=dog.dog.id) }}">new</a>
        {% endif %}
        <table class="bordered">
            <thead>
            <tr>
                <th data-field="date" width="25%">Date</th>
                <th data-field="date">Type</th>
                <th data-field="comment">Comment</th>
                {% if current_user.is_volunteer %}
                    <th data-field="edit"><i class="material-icons">mode_edit</i></th>
                    <th data-field="delite"><i class="material-icons">highlight_off</i></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for event in dog.events %}
                <tr style="{{ "border-bottom: none;" if event.expenditure }}">
                    <td> {{ event.event.datetime.date() if event }}</td>
                    <td> {{ event.event_type.type_name }}</td>
                    <td>{{ event.event.description }}</td>
                    {% if current_user.is_volunteer %}
                        <td>
                            <a href="{{ url_for('events.edit_event', event_id=event.event.id) }}">
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('events.delete_financial_event', event_id=event.event.id) }}"
                               class="secondary-content"><i class="material-icons">highlight_off</i>
                            </a>
                        </td>
                    {% endif %}

                </tr>
                {% if event.expenditure %}

                    <tr>
                        <td colspan="5">
                            <div style="padding-left: 50px;">
                                Using <a
                                    href="{{ url_for("events.show_expenditure", expenditure_id=event.expenditure.id) }}">following
                                expenditure</a>:
                                <p>Amount: {{ event.expenditure.amount }} on {{ event.expenditure.datetime.date() }}</p>
                                <p>
                                    {{ event.expenditure.comment }}
                                </p>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}

