{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h4 class="header center red-text text-lighten-2">{{ title }}</h4>
    {% if action == '.edit_expenditure' %}
        <form action="{{ url_for(action, expenditure_id=id) }}" method="post">
    {% else %}
        <form action="{{ url_for(action) }}" method="post">
    {% endif %}
<div class="row">
    {{ form.id }}
    {{ form.hidden_tag() }}
    <div class="col s4">
        {{ render_field(form.amount) }}
    </div>
    <div class="col s4">
        {{ render_field(form.datetime) }}
    </div>
</div>
<div class="row">
    {{ render_field(form.comment) }}
</div>
    <div class="row">
        <h4>Related events</h4>
    <table>
        <tr>
            <th>
                Date and time
            </th>
            <th>
                Type
            </th>
            <th>
                Dog
            </th>
            <th>
                Description
            </th>
        </tr>
        {% for event in related_events %}
            <tr>
                <td>
                    <a href="{{ url_for('.edit_event_with_dog', event_id=event.event.id) }}">{{ event.event.datetime }}</a>
                </td>
                <td>
                    {{ event.event_type.type_name }}
                </td>
                <td>
                    {{ event.dog.name }}
                </td>
                <td>
                    {{ event.event.description }}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <a href="{{ url_for('.add_for_expenditure', expenditure_id=id) }}" class="btn">Add new event</a>
<input type="submit" value="Submit" class="btn"/>
</div>
</form>
    <script>

    </script>
{% endblock %}
