{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Expenditure details{% endblock %}

{% block content %}

    <div class="section"></div>
    {% if current_user.is_volunteer %}
        <div id="editblock" style="position:absolute;margin-left: -80px">
            <a href="{{ url_for('.edit_expenditure', expenditure_id=expenditure.id) }}"
               class="btn-floating btn-large waves-effect waves-light red"><i class="large material-icons">mode_edit</i></a>
        </div>
    {% endif %}
    <div class="z-depth-1" style="background-color: white; padding: 25px;">
        <h3>Expenditure # {{ expenditure.id }}</h3>
        <p>Amount: {{ expenditure.amount }}</p>
        <p>Datetime: {{ expenditure.datetime }}</p>
        <p>Description:</p>
        <p>
            {{ expenditure.comment }}
        </p>
        {% if related_events %}
            <div class="row">
                <h4>Related events</h4>
                <table>
                    <tr>
                        <th>
                            Date and time
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Dog
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    {% for event in related_events %}
                        <tr>
                            <td>
                                {{ event.event.datetime }}
                            </td>
                            <td>
                                {{ event.event_type.type_name }}
                            </td>
                            <td>
                                {{ event.dog.name }}
                            </td>
                            <td>
                                {{ event.event.description }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
