{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %} Finantial events {% endblock %}

{% block content %}
    <h3 class="header center red-text text-lighten-2">Finantial events</h3>



    <div class="row">
        <div class="col s9">
            <table class="centered bordered" style="border: 1px solid gainsboro;    background: white;">
                <thead>
                <tr>
                    <th data-field="amount">Amount</th>
                    <th data-field="date">Date</th>
                    <th data-field="comment">Comment</th>
                    <th data-field="name">User Name</th>
                </tr>
                </thead>

                <tbody>
                {% for inpayment in inpayments %}
                    <tr style="background-color:
                            {% if inpayment[0].type=="inpayment" %}
                                rgba(151, 226, 63, 0.75) !important;
                            {% else %}
                                rgba(238, 109, 113, 0.53);
                            {% endif %}
                            ">
                        <td>

                    <span class="title">
                    {% if inpayment[0].type=="inpayment" %}
                        +
                        {% set edit_url = url_for('events.edit_inpayment', id=inpayment[0].id) %}
                    {% else %}
                        -
                        {% set edit_url = url_for('events.edit_expenditure', expenditure_id=inpayment[0].id) %}
                    {% endif %}
                        {{ inpayment[0].amount }}
                    </span>
                        </td>
                        <td>
                            <a href="{{ edit_url }}">{{ inpayment[0].datetime.strftime('%Y-%m-%d %H:%m') }}</a>
                        </td>
                        <td>
                            {{ inpayment[0].comment }}
                        </td>
                        <td>
                            {{ inpayment[1].name }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s3" style=" padding: 10px;    background: white;    border: 1px solid gainsboro;">
            <h5 class="header center red-text text-lighten-2">Find by date</h5>
            <form action="{{ url_for(action) }}" method="post">
                {{ render_field(form.startdatetime) }}
                {{ render_field(form.enddatetime) }}
                <center><input type="submit" value="Find" class="btn"/></center>
            </form>
        </div>
        <a href='inpayments/add' title="add inpayment" class="btn-floating btn-large waves-effect waves-light green"
           style="    position: fixed; right: 90px;  bottom: 20px;}">
            <i class="material-icons">add</i></a>
        <a href='financial/expenditure/add' title="add expenditure" class="btn-floating btn-large waves-effect waves-light red"
           style="    position: fixed; right: 20px;  bottom: 20px;}">
            <i class="material-icons">add</i></a>
    </div>
{% endblock %}
