{% extends "base.html" %}

{% block title %} Location list {% endblock %}

{% block content %}
  <h3 class="header center red-text text-lighten-2">Location list</h3>
  <ul class="collection">
  {% for location in location_list|sort(attribute='id', reverse=False) -%}
    <li class="collection-item avatar">
      <i class="material-icon circle red lighten-1">{{ location.id }}</i>
      <span class="title">{{ location.name }}</span>
      <p>Description: {{ location.description}}</p>
      <div class="secondary-content">
        <a href="{{ url_for(".locations_edit", loc_id=location.id) }}"<i>Edit</i></a><br>
        <a href="#"><i>Delete</i></a>
      </div>
    </li>
  {%- endfor %}
  </ul>

  <a href="{{ url_for(".locations_add") }}" class="btn-floating btn-large waves-effect waves-light red"
     style="position: fixed; right: 20px;  bottom: 20px;}">
    <i class="material-icons">add</i></a>

{% endblock %}
