{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} {{ title }} event type {% endblock %}

{% block content %} 

    <h4 class="header center red-text text-lighten-2">{{ title }} event type</h4>
    <form action="" method="post">
      <div>
        {{ form.csrf_token }}
        {{ render_field(form.type_name) }}
        <div>{{ form.is_significant }} {{ form.is_significant.label }} </div>

        <input type="submit" value="Done" class="btn">
      </div>
    </form>

{% endblock %}
