{% extends "base.html" %}
{% from "_formhelpers.html" import fancy_render_field %}

{% block content %}
    <div class="row">
        <form class="col s12 add-requests-form" method="post" action="{{ url_for('.submit_add_request_form') }}"
              enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ fancy_render_field(form.description) }}
            {{ fancy_render_field(form.pictures) }}
            <div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}