{% extends "base.html" %}

{% block title %} Add dog {% endblock %}

{% macro fancy_render_field(field, placeholder='') %}
    {% set class_ = '' %}
    {{ field.label }}
    {% if placeholder %}
        {{ field(placeholder=placeholder)|safe }}
    {% else %}
        {% if field.type == 'TextAreaField' %}
            {% set class_ = ' materialize-textarea' %}
        {% endif %}
        {% if field.type in ('SelectField', 'BooleanField') %}
            {% set class_ = ' browser-default' %}
        {% endif %}

        {{ field(placeholder=field.description, class=class_)|safe }}
    {% endif %}
    {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {% for err in field.errors %}
                <p>{{ err|e }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% block content %}

    <div class="section"></div>

    <div class="row"
         style="padding: 20px; width: 110%;     margin-left: -5%;   background: white;     border-radius: 16px;    border: 2px solid gainsboro;">
        <div class="col s6">
            <div class="row">
                <div class="col s4">
                    {% if pictures %}
                        {% for pic in pictures %}
                            <img class="materialboxed"
                                 data-caption="picture of a dog"
                                 width="100%"
                                 height="auto"
                                 src="{{ pic.resolved_uri }}"/>
                        {% endfor %}
                    {% else %}
                        <img width="100%"
                             height="auto" src="{{ url_for('static', filename='dogs/no.image.available.png') }}"
                             alt="unknown"/>
                    {% endif %}
                </div>
                <div class="col s8">
                    <label>User name</label>
                    <div style="   margin-top: 16px; margin-bottom: 15px;   border-bottom: 1px solid gainsboro;"> {{ req.user.name }}
                    </div>
                    <label>Date</label>
                    <div style="   margin-top: 16px; margin-bottom: 15px;   border-bottom: 1px solid gainsboro;"> {{ date.strftime("%d.%m.%Y") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Description</label>
                    <div style="   margin-top: 16px; margin-bottom: 15px;">
                        {{ req.description }}
                    </div>
                </div>
            </div>
        </div>
        <form class="col s6 approve-form" style="border-left: 1px solid gainsboro;" method="post"
              action="{{ url_for(".add_dog_by_approving_request", req_id=req.id) }}">
            {{ approve_request_form.csrf_token }}
            <div class="row">
                <div class="col s4">
                    {% if pictures %}
                        {% for pic in pictures %}
                            <img class="materialboxed"
                                 data-caption="picture of a dog"
                                 width="100%"
                                 height="auto"
                                 src="{{ pic.resolved_uri }}"/>
                        {% endfor %}
                    {% else %}
                        <img width="100%"
                                 height="auto" src="{{ url_for('static', filename='dogs/no.image.available.png') }}" alt="unknown"/>
                    {% endif %}
                </div>
                <div class="col s8">
                    <div>
                        {{ fancy_render_field(approve_request_form.name) }}
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            {{ fancy_render_field(approve_request_form.is_adopted) }}
                        </div>
                        <div class="col s6">
                            {#todo: inputfield класс добавить после того как поправить fancy_render_field#}
                            {{ fancy_render_field(approve_request_form.sex) }}
                        </div>


                    </div>


                </div>
                <div class="col s12">

                    <div class=" col s6">
                        {{ fancy_render_field(approve_request_form.location_id) }}
                    </div>
                    <div class="input-field col s6">
                    </div>
                    <div class="col s12">
                        {{ fancy_render_field(approve_request_form.description) }}
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="waves-effect waves-light btn" style="float: right;margin-right: 20px;"
                           value="Add"/>
                </div>
            </div>

        </form>
    </div>
{% endblock %}