{% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}
{% macro simple_render_errors(field) %}
    {% if field.errors %}
        {% for err in field.errors %}
            {{ err }}<br>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro flashed_messages(messages=None, container=True, transform={
  'critical': 'danger',
  'error': 'danger',
  'info': 'info',
  'warning': 'warning',
  'debug': 'default',
  'notset': 'default',
}, default_category=None) -%}
    {% with messages = messages or get_flashed_messages(with_categories=True) -%}
        {% if messages -%} {# don't output anything if there are no messages #}

            {% if container -%}
                <!-- begin message block -->
                <div class="container">
                <div class="row">
                <div class="col-md-12">
            {% endif -%}

        {% for cat, msg in messages %}
            <div class="alert alert-{{ transform.get(cat.lower(), default_category or cat) }}"
                 role="alert">{{ msg|safe }}</div>{% endfor -%}

        {% if container %}
            </div>
            </div>
            </div>
            <!-- end message block -->
        {% endif -%}

        {% endif -%}
    {% endwith -%}
{% endmacro -%}