<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>{% block title %}{% endblock %}</title>

  <!-- CSS -->
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Innodogs</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Dogs</a></li>
        <li><a href="#">Stats</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
      {% block content %}{% endblock %}
  </div>



  <footer class="page-footer">
    <div class="container">
      <p class="white-text">Let's help to each other!</p>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>

</body>
</html>

